*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}

html {
  background-color: darkcyan;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.square {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.row-0,
.row-1,
.row-2 {
  display: flex;
  flex-direction: row;
}

.row-0,
.row-1 {
  border-bottom: solid black 3px;
}

.col-0,
.col-1 {
  border-right: solid black 3px;
}

.game-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status {
  margin: 10px 0 40px 0;
  position: relative;
  font-size: 2rem;
}

.board {
  position: relative;
}

.game-over {
  margin-top: 25px;
}

button {
  font-size: 30px;
  padding: 0 10px 0 10px;
  border-radius: 5px;
}

.spin {
  width: 100px;
  height: 100px;
  background-color: none;
  animation-name: spin;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.flip {
  width: 100px;
  height: 100px;
  background-color: none;
  animation-name: flip;
  animation-duration: 300ms;
  animation-timing-function: linear;
}

@keyframes flip {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(270deg);
  }
}
